* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fcfcfc;
    font-family: sans-serif;
}

.detail_text {
    padding: 20px 8%;
}